<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
</head>
<body>
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    <label for="password">Crear Contraseña:</label>
    <input type="password" id="password" name="password">
    <input type="hidden" value="{{ uid }}" name="uid">
    <input type="hidden" value="{{ token }}" name="token">
    <button type="submit">Guardar</button>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</form>
</body>
</html>